*.out
*.json

# FitSNAP / local runs
logs/*.log
outputs/
*.dat

dataset/

outputs/
images/
qe_test/
scripts_deprecated/

# Checkpoints and results produced by training (MACE script)
checkpoints/
results/

fitsnap_models/

lammps_example/

 .rules/
